<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/login.css" rel="stylesheet" >
</head>
<body>
    <h1>Login</h1>
    <% if (locals.signin == null) {%>
        <form action="/ini" method="POST">
            <div class="container">
                <div class="login">
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Username" class="input_field"><br>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password" class="input_field"><br>
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
        <p class="not_registered">Not registered?</p>
        <a href="/register">Register here!</a>
    <% } else { %>
        <form action="/form-login/<%= form_id %>" method="POST">
            <div class="container">
                <div class="login">
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Username" class="input_field"><br>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password" class="input_field"><br>
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
        <p class="not_registered">Not registered?</p>
        <a href="/form-register/<%= form_id %>">Register here!</a>
    <% } %>
    <% if (locals.users_exist == true) { %>
        <p style="color: red;">Username already exist.</p>
    <% } %>
</body>
</html>