<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Question</title>
</head>
<body>
    <form action="/question_submit/<%= quiz_id %>" method="POST">
        <textarea name="question_text" rows="4" cols="50"></textarea>
        <input type="number" name="marks" placeholder="marks">
        <input type="submit" value="Add question">
    </form>
</body>
</html>