body {
    background-color: black;
    padding: 10px;
}
label {
    color: aqua;
}
input[type='text'] {
    padding: 5px;
    background-color: aquamarine;
    border-radius: 10px;
}
input[type='submit'] {
    padding: 5px;
    margin-top: 10px;
    background-color: chocolate;
    border-radius: 10px;
}