body {
    background-color: black;
    padding: 10px;
}
h1 {
    color: aqua;
}
p {
    color: aquamarine;
}
button {
    background-color: chocolate;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}
input[type='submit'] {
    background-color: chocolate;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}
input[type='number'] {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
}
textarea {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
}